<header>
	<div class="scoreboard">
		<div class="home">
			<div class="shirt"></div>
			<span>0</span>
		</div>
		<div class="separator">
		-
		</div>
		<div class="away">
			<span>0</span>
			<div class="shirt"></div>
		</div>
	</div>
	<div class="timer">
		00:00
	</div>
</header>