@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,700,600,400italic);

body.sans {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background: rgb(129, 141, 108);
}

header {
	height: 46px;
	background: rgb(46, 37, 32);
	color: #fff;
    line-height: 46px;
    font-size: 15px;
    text-shadow: 1px 1px 0 black;
}